@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import 'primereact/resources/themes/lara-light-indigo/theme.css';
@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'react-circular-progressbar/dist/styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
  }

  body {
    @apply bg-slate-100;
  }
}

@layer components {
  .active {
    @apply font-bold;
  }

  @keyframes p-progress-spinner-color {
    100%,
    0% {
      stroke: #fff;
    }

    40% {
      stroke: #fff;
    }

    66% {
      stroke: #fff;
    }

    80%,
    90% {
      stroke: #fff;
    }
  }
}
